В модуле такси произошла ошибка доступа водителя Ивана
В модуле доставка произошла ошибка подключения водителя Степана
В модуле ремонт произошла ошибка оплаты водителя Владислава
В модуле шиномонтаж произошла ошибка записи доступа водителя Павла
В модуле мойка произошла ошибка доступа водителя Сергея